<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Titular</td>
                    <td>Numero Tarjeta</td>
                    <td>Fecha de Expiracion</td>
                    <td>
                        <i class="fas fa-edit text-info"></i>
                        <i class="fas fa-trash-alt text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>